<header class='header'>
  <div class='brand'>
    Tommy John
  </div>

</header>
<br>
<div class="container">
  <ul class="list-inline">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li>
      <a href="/barcode">Barcode</a>
    </li>
    <li>
      <a href="/user">Get User</a>
    </li>
  </ul>
</div>