<div class="container barcode-page">
    <div class="camera">
        <video id="video" width="320" height="auto" autoplay></video>
        <button id="snap">Snap Photo</button>
        {{!--
        <canvas id="canvas" width="320"></canvas> --}}
    </div>
    <div class="product-info">
        <div>Product:</div>
        <div>Price</div>
        <div>Category</div>
        <div>Description</div>
    </div>
</div>