<div class="container barcode-page">
    <h1>{{title}}</h1>
    {{!--
    <div class="camera">
        <video id="video" width="320" height="auto" autoplay></video>
        <button id="snap" class='button'>Snap Photo</button> --}} {{!--
        <canvas id="canvas" width="320"></canvas> --}} {{!-- </div> --}}

    <!-- Div to show the scanner -->
    <div id="scanner-container"></div>
    <input class='button' type="button" id="btn" value="Start/Stop the scanner" />

    <button id="startScan" class='button'>Start the Scanner</button>
    <form action='barcode/post' method="POST" class='input' id='qr-submit-form'>
        <input type="text" id='input-qr-code' name='barcode' placeholder='Enter QR Code Here'> {{!--
        <input type="submit" value="Submit"> --}}
    </form>
    <div id="interactive" class="viewport"></div>
    <div id="debug" class="detection"></div>

    <div class="product-info">
        <div>Product:</div>
        <div>Price</div>
        <div>Category</div>
        <div>Description</div>
    </div>
    {{#if data}}
        yes data
    {{/if}}
</div>